<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>Welcome to ScheiseCrow</h4>
        <p>Here you can easily put your shit into escrow. We make sure that your shit is secure, and that you are protected from shit fraud.</p>
      </div>
    </div>
    <div>
        <form action="{{url_for("pay_first_stage")}}" method="POST">
          <div class="row">
            <div class="six columns">
              <label for="amount">Amount</label>
              <input name="amount" class="u-full-width" type="text" id="amount">
            </div>
          </div>

          <div class="row">
            <div class="six columns">
              <label for="payee">Payee</label>
              <input class="u-full-width" type="text" id="payee" value="Areeb">
            </div>
          </div>

          <div class="row">
            <div class="six columns">
              <label for="escrowDays">Escrow Days</label>
              <input name="escrow_days" class="u-full-width" type="text" id="escrowDays">
            </div>
          </div>

          <label class="example-send-yourself-copy">
            <input type="checkbox">
            <span class="label-body">Send a copy to yourself</span>
          </label>
          <input class="button-primary" type="submit" value="Submit">
        </form>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
