<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <script type="text/javascript" src="js/jquery-2.1.4.js"></script>
  <script type="text/javascript">
    var PAYMILL_PUBLIC_KEY = '77835649219e780c7d9eb96873fbf5f4';
  </script>
  <script type="text/javascript" src="https://bridge.paymill.com/"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>Secure payment with <i style="color:orange;">Paymill</i></h4>
        <p>Direct Debit</p>
      </div>
    </div>
    <div>
        <form id="payment-form" action="{{url_for("pay_second_stage")}}" method="POST">
            <input name="amount" class="card-amount-int" type="hidden" value="15" />
            <input name="currency" class="card-currency" type="hidden" value="EUR" />
          <div class="row">
            <div class="six columns">
              <label>Card number</label>
              <input name="card" class="u-full-width card-number" type="text" size="20" />
            </div>
          </div>

          <div class="row">
            <div class="six columns">
              <label>Name</label>
              <input class="card-holdername u-full-width" type="text" size="4" />
            </div>

          </div>
          <div class="row">
            <div class="six columns">
              <label>CVC</label>
              <input class="card-cvc" type="text" size="4" />
            </div>
          </div>

          <div class="row">
            <div class="six columns">
              <label>Expiry date (MM/YYYY)</label>
              <input class="card-expiry-month" type="text" size="2" />
              <span></span>
              <input class="card-expiry-year" type="text" size="4" />
            </div>
          </div>

          <label class="example-send-yourself-copy">
            <input type="checkbox">
            <span class="label-body">Send a copy to yourself</span>
          </label>
            <input name="token" id="token" class="token" type="text" hidden="true">
            <input name="amount" id="amount" type="text" hidden="true" value="{{ amount }}">
            <input name="escrow_days" id="escrow_days" type="text" hidden="true" value="{{ escrow_days }}">
        </form>

        <input class="button-primary submit-button" type="submit" value="Submit">

    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
<script type="text/javascript" src="js/payment.js"></script>

</html>
